#nav{
    width:300px;
    background: gray;
}

.title{
    font-size: 18px;
    font-weight: bold;
    text-indent: 1em;/*首行缩进*/
    line-height: 30px;
    /*颜色 图片 图片位置 图片平铺方式*/
    background: red url("../images/arrow_down.png") 270px 10px no-repeat;
}
ul{
    background: gray;
}

/* ul li */
ul li{
    height: 30px; /*每一列的行高*/
    list-style: none;/*前方没有圆点*/
    text-indent: 1em;
    background: url("../images/bullet_go.png") 230px 10px no-repeat;

}

a{
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}

a:hover{
    color: orange;
    text-decoration: underline;
}